<!-- find cards on criteria -->
<h1 class="pageTitle">Card Finder</h1>
<div ng-hide="showForm">

    <div class="container">

      <form class="center-block" name='cardForm' class="">
        <div class="form-group">
          <button class="btn" ng-click="showName = !showName">Name <span class="caret"></span></button>
          <input class="form-control" placeholder="ex. Black Lotus, Shock, Negate, Dark Confidant, etc." ng-model="card.name" ng-show="showName">
        </div>
        <div class="form-group">
          <button class="btn" ng-click="showColor = !showColor" disabled>Color <span class="caret"></span></button>
            <label class="checkbox-inline" ng-repeat="color in colors" ng-show="showColor">
              <input class="form-control" type="checkbox" id={{color}} ng-model="card.color" value={color}} >{{color}}
            </label>
        </div>
        <div class="form-group">
          <button class="btn" ng-click="showManaCost = !showManaCost" disabled>Converted Mana Cost <span class="caret"></span></button>
            <label class="checkbox-inline" ng-show="showManaCost" ng-repeat="cost in manaCost">
              <input class="form-control" type="checkbox" id={{cost}} ng-model="card.cost" value={{cost}} >{{cost}}
            </label>
        </div>
        <div class="form-group">
          <button class="btn" ng-click="showType = !showType" disabled>Type <span class="caret"></span></button>
            <label class="checkbox-inline" ng-repeat="type in types" ng-show="showType">
              <input class="form-control" type="checkbox" id={{type}} ng-model="card.type" value={{type}} >{{type}}
            </label>
        </div>
        <div class="form-group">
          <button class="btn" ng-click="showSubtype = !showSubtype" >Subtype <span class="caret"></span></button>
            <input class="form-control" placeholder="ex. Equipment, Aura, Angel, etc." ng-model="card.subType" ng-show="showSubtype">
        </div>
        <div class="form-group">
          <button class="btn" ng-click="showSet = !showSet" disabled>Set <span class="caret"></span></button>
            <label class="checkbox-inline" ng-repeat="set in standard" ng-model="card.set" ng-show="showSet">
              <input class="form-control" type="checkbox" id={{set}} value={{set}} >{{set}}
        </div>

        <button class="btn btn-info" ng-click="getCards(card); showForm = !showForm" class="btn btn-primary">Find Cards <small><span class="glyphicon glyphicon-chevron-right"></small> </button>

      </form>

    </div>

</div>

<div ng-show='showForm'>

  <div class="container">

    <button class="row center-block btn" ng-click="showForm = !showForm"> <small><span class="glyphicon glyphicon-chevron-left"></small> Back to Card Select</button>
      <br>
    <table class="table table-hover">
      <tr>
        <th>Picture</th>
        <th>Rulings</th>
        <th>&nbsp;</th>
      </tr>

      <tr ng-repeat="card in cards">
        <td><img class='cardSelectCard img-responsive' ng-src='{{card.imageUrl}}' alt="magicCard"/></td>
        <td>
          <ul>
            <li ng-repeat="ruling in card.rulings">{{ruling.text}}</li>
          </ul>
        </td>
        <td>
          <button class="btn align-middle" ng-click="addToDeck(card)"><small><span class="glyphicon glyphicon-plus"></small> Add to Deck</button>
        </td>
      </tr>

    </table>

  </div>

</div>
