<!-- find cards on criteria -->
<nav>
  <a href="#" class="pull-left">Decklist</a>
  <a href="#" class="pull-right">Card Select</a>
</nav>
<main class= "container">
  <h1>Card Finder</h1>
  <div class="container">
    <ul>
      <li><label>Name</label><input placeholder="ex. Black Lotus, Shock, Negate, Dark Confidant, etc."></li>

      <li><label>Color</label>
        <select multiple="">
          <option value="" disabled selected class="defaultText">Choose your Color Type</option>
          <option value="R">Red</option>
          <option value="U">Blue</option>
          <option value="B">Black</option>
          <option value="W">White</option>
          <option value="G">Green</option>
      </li>

      <li><label>Mana Cost</label><input></li>

      <li><label>Type</label>
        <select multiple="">
          <option value="" disabled selected class="defaultText">Choose your Card Type</option>
          <option value="Instant">Instant</option>
          <option value="Sorcery">Sorcery</option>
          <option value="Artifact">Artifact</option>
          <option value="Creature">Creature</option>
          <option value="Enchantment">Enchantment</option>
          <option value="Land">Land</option>
          <option value="Planeswalker">Planeswalker</option>
      </li>

      <li><label>Subtype</label><input placeholder="ex. Equipment, Aura, Angel, etc."></li>

      <li><label>Set</label>
        <select multiple="">
          <option value="" disabled selected class="defaultText">Choose your set</option>
          <option value="">Amonkhet</option>
          <option value="">Aether Revolt</option>
          <option value="">Kaladesh</option>
          <option value="">Eldritch Moon</option>
          <option value="">Shadows over Innistrad</option>
          <option value="">Oath of the Gatewatch</option>
          <option value="">Battle For Zendikar</option>
      </li>

    </ul>
  </div>
  
  <div class="container">
    <button>Find Cards</button>
  </div>

</main>
