<!-- find cards on criteria -->
<nav>
  <a href="#" class="pull-left">Decklist</a>
  <a href="#" class="pull-right">Card Select</a>
</nav>
<main class="container">
  <h1 class="center">Card Finder</h1>
  <div class="container">

    <form name='cardForm' class="">
      <ul>
        <li><button ng-click="showName = !showName">Name <span class="caret"></span></button>
          <br>
          <input placeholder="ex. Black Lotus, Shock, Negate, Dark Confidant, etc." ng-model="card.name" ng-show="showName">
        </li>

        <li>
          <button ng-click="showColor = !showColor">Color <span class="caret"></span></button>
          <br>
          <label class="checkbox-inline" ng-repeat="color in colors" ng-show="showColor">
            <input type="checkbox" ng-model="card.color">{{color}}
          </label>
        </li>

        <li><button ng-click="showManaCost = !showManaCost">Converted Mana Cost <span class="caret"></span></button>
          <br>
          <label class="checkbox-inline" ng-show="showManaCost" ng-repeat="cost in manaCost">
            <input type="checkbox" ng-model="card.cost">{{cost}}
          </label>
        </li>

        <li><button ng-click="showType = !showType">Type <span class="caret"></span></button>
          <br>
          <label class="checkbox-inline" ng-repeat="type in types" ng-show="showType">
            <input type="checkbox" ng-model="card.type">{{type}}
          </label>
        </li>

        <li><button ng-click="showSubtype = !showSubtype">Subtype <span class="caret"></span></button>
          <br>
          <input placeholder="ex. Equipment, Aura, Angel, etc." ng-model="card.subType" ng-show="showSubtype">
        </li>

        <li><button ng-click="showSet = !showSet">Set <span class="caret"></span></button>
          <br>
          <label class="checkbox-inline" ng-repeat="set in standard" ng-model="card.set" ng-show="showSet">
            <input type="checkbox">{{set}}
        </li>

      </ul>

      <button ng-click="getCards()">Find Cards</button>

    </form>

  </div>


</main>
